<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Peition Created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <object th:replace="~{fragments :: bootstrap-import}"/>
</head>

<body>
    <div th:replace="~{fragments :: banner}"></div>
    <div class="p-5 text-center">
        <div class="pagetitle">
            <h4><b>Petition Created</b></h4>
        </div>
        <p>Thanks, your petition was created</p>
    </div>
    
</body>

</html>