<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <object th:replace="~{fragments :: bootstrap-import}"/>
</head>

<body>
    <div th:replace="~{fragments :: banner}"></div>
    <div class="container">
        <div class="row text-center">
            <div class="p-5">
                <div class="pagetitle">
                    <h4><b>Error</b></h4>
                </div>
                <p th:text=${error} />
            </div>
        </div>

    </div>
</body>

</html>