<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <object th:replace="~{fragments :: bootstrap-import}"/>
</head>

<body>
    <div th:replace="~{fragments :: banner}"></div>

    <div class="container p-3">
        <div class="row">
            <h4><b>Search Results</b></h4>
            <p>The titles of the following petitions were found to match the search term</p>
        </div>

        <div class="row">
            <table class="table table-striped table-sm">
                <tr>
                    <th>Petition No.</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>View/Sign</th>
                </tr>
                <tr th:each="result, iter: ${results}">
                    <td th:text="${iter.index}" />
                    <td th:text="${result.title}" />
                    <td th:text="${result.date}" />
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/view/{id}(id=${result.id})}">
                            View & Sign
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>