<!DOCTYPE HTML>
<html>

<head>
    <title>Search Petition</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <object th:replace="~{fragments :: bootstrap-import}"/>
</head>

<body>
    <div th:replace="~{fragments :: banner}"></div>

    <div class="container p-3">
        <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8 justify-content-center">
                <h4><b>Search Petitions</b></h4>
                <p>Search for keywords in the petition titles by entering the search term below</p>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <form id='search' action='#' th:action="@{/doSearch}">
        <div class="row justify-content-center">
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="mb-3">
                    <input type="text" class="form-control" th:name="searchString" placeholder="Enter search term here" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2 col-3 mx-auto">
                <button type="submit" class="btn btn-primary btn-lg">Go</button>
            </div>
        </div>
    </form>
</body>

</html>