<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Petitions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Show all petitions</h1>
    <p>This page shows all petitions in the system</p>
    <p>Return to the <a href="/">main page</a></p>
    <table>
        <tr th:each="petition: ${petitions}">
            <td th:text="${petition.title}" />
            <td th:text="${petition.description}" />
            <td th:text="${petition.date}" />
            <td th:text="${petition.signatures}" />
            <td>
                <a th:href="@{/view/{id}(id=${petition.id})}">
                    View Petition
                </a>
            </td>
        </tr>
    </table>
</body>

</html>