<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Petitions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <object th:replace="~{fragments :: bootstrap-import}"/>
</head>

<body>

    <div th:replace="~{fragments :: banner}"></div>

    <div class="container p-3">
        <div class="row">
            <h4><b>Show all petitions</b></h4>
            <p>This page shows all petitions in the system</p>
        </div>

        <div class="row">
            <table class="table table-striped table-sm">
                <tr>
                    <th>Petition No.</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>View/Sign</th>
                </tr>
                <tr th:each="petition, iter: ${petitions}">
                    <td th:text="${iter.index+1}" />
                    <td th:text="${petition.title}" />
                    <td th:text="${#temporals.format(petition.date, 'dd-MM-yyyy HH:mm')}" />
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/view/{id}(id=${petition.id})}">
                            View & Sign
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>